#main {

    position: absolute;
top: 25px;
left: 25%;
right: 25%;
margin: 10;
border: 1px;
border-style: solid;
border-color: black;
padding-left: 2%;
padding-right: 2%;
padding-top: 2%;
background-color:white;
}

body{
background-color: grey;
}

/* #picture {
border: 1px solid red;
border-radius: 50%;
} */
